// google fonts
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif, 'Azeret Mono', monospace;
  color: #fff;
  line-height: 1.5;
}
// * {
//   outline: 1px solid yellow;
// }
img {
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
}