.logo-icon {
  @include size(24px);
  @include media-breakpoint-up(sm) {
    width: 175px;
    height: 42px;
  }
}

.navbar-border {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, $primary 50% , $secondary 50%);
  border-image-slice: 1;
}

.nav-link {
  &:hover {
    background-color: $primary;
    @include media-breakpoint-up(sm) {
      background-color: $gray;
      color: $primary !important;
    }
  }
}
