.banner{
  background-image: url(../images/bg_home_mobile.jpg);
  height: 336px;
  background-position: center;
  background-size: cover;
  @include media-breakpoint-up(md) {
    background-image: url(../images/bg_home.jpg);
    height: 100vh;
  }
}

.square-box {
  @include size(10px);
  background-color: $white;
}

.card-teach {
  background-color: $dark;
  color: $white;
  border: 1px solid $dark;
  .material-icons-outlined {
    font-size: 50px;
    @include text-gradient-y;
  }
  &:hover {
    border: 1px solid $primary;
  }
  @include media-breakpoint-up(md) {
    background-color: $gray;
    color: $light;
    border: 1px solid $gray;
    &:hover {
      background: $dark;
      color: $white;
      // border: 1px solid $primary;
      .material-icons-outlined {
        @include text-gradient-y;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .material-icons-outlined {
      color: $light;
    }
  }
}
.service-text-underline {
  &::after{
    @include text-underline($primary);
    left: 46%;
    @include media-breakpoint-up(lg) {
      left:0;
    }
  }
}
.title-text-underline {
  &::after{
    @include text-underline($primary);
    left: 46%;
  }
}
.sub-title-text-underline {
  &::after{
    @include text-underline($primary);
    left: 46%;
    @include media-breakpoint-up(xl) {
      @include text-underline($white);
      left: 0;
    }
  }
}
.process-num {
  left: 40px;
}

.teacher-pic-size {
  @include size(100px, 100px);
}


.info {
  .card-img {
    object-fit: cover;
    opacity: 0.1;
    height: 263px;
    @include media-breakpoint-up(sm) {
      height: 430px;
    }
    @include media-breakpoint-up(xl) {
      height: 615px;
    }
  }
  .card-info{
    &-icon{
      color: $primary;
      font-size: 32px;
      @include media-breakpoint-up(xl) {
        color: $light;
      }
    }
  }
  p {
      color: $light;
  }
  .card {
    &:hover {
      .card-img {
        opacity: 1;
      }
      .card-info {
        &-icon{
          color: $primary;
        }
      }
      p {
        color: $white;
      }
      .sub-title-text-underline {
        &::after{
          @include text-underline($primary);
        }
      }
    }
  }
}

//四個border圓角
.squareRounded {
  display: none;
  width: 32px;
  height: 32px;
  &-topLeft {
    border-top: 2px solid $primary;
    border-left: 2px solid $primary;
    border-top-left-radius: 10px;
  }
  &-topRight {
    border-top: 2px solid $primary;
    border-right: 2px solid $primary;
    border-top-right-radius: 10px;
  }
  &-bottomLeft {
    border-bottom: 2px solid $primary;
    border-left: 2px solid $primary;
    border-bottom-left-radius: 10px;
  }
  &-bottomRight {
    border-bottom: 2px solid $primary;
    border-right: 2px solid $primary;
    border-bottom-right-radius: 10px;
  }
}
.card:hover {
  .squareRounded {
    display: block;
  }
}

.bg-feedback {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_share.jpg?raw=true);
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0;
  @include media-breakpoint-up(lg) {
    height: 733px;
  }
}

.swiper-fade {
  width: 100%;
  height: auto;
  @include media-breakpoint-up(lg) {
    height: 429px;
  }
  &-img {
    top: 0;
    left: 5px;
    width: calc(100% - 5px);
    height: 213px;
    border-radius: 24px;
    margin-bottom: 40px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid #7C7E77;
      border-radius: 24px;
      left: -5px;
      top: 5px;
      z-index: -1;
      @include media-breakpoint-up(lg) {
        left: -10px;
        top: 10px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 24px;
    }
    @include media-breakpoint-up(lg) {
      position: absolute;
      width: 60%;
      height: 90%;
      left: 10px;
      margin-bottom: 0px;
    }
  }
  .card {
    width: 100%;
    padding: 24px;
    border-radius: 24px 24px 24px 0;
    bottom: 0;
    right: 0;
    margin-bottom: 32px;
    position: relative;
    h3 {
      font-size: 18px;
    }
    &-img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      position: absolute;
      right: 24px;
      top: -30px;
      bottom: auto;
      transform: none;
      @include media-breakpoint-up(lg) {
        width: 100px;
        height: 100px;
        right: 32px;
        top: -100px;
        bottom: 100%;
        transform: translateY(50%);
      }
    }
    @include media-breakpoint-up(lg) {
      position: absolute;
      width: 45%;
      padding: 32px;
      margin-bottom: 0px;
    }
  }
  .swiper-button {
    &-next {
      &:after {
        content: '';
      }
      position: unset;
      @include size(24px);
      margin-top: 0;
      color: $primary;
    }
    &-prev {
      &:after {
        content: '';
      }
      position: unset;
      @include size(24px);
      margin-top: 0;
      color: $primary;
    }
  }
  .swiper-pagination {
    position: unset;
    width: auto;
    &-bullet {
      background-color: $primary;
      opacity: initial;
      &-active {
        width: 16px;
        border-radius: 100px;
      }
    }
  }
  &-buttons {
    bottom: 0;
    left: 30%;
    z-index: 10;
    position: initial;
    transform: none;
    @include media-breakpoint-up(lg) {
      position: absolute;
      transform: translateX(-50%);
    }
  }
}
.reserve-icon {
  font-size: 80px;
}