<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <!-- title show icon -->
    <link rel="shortcut icon" href="./assets/images/logo2.svg">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header class="navbar navbar-border navbar-expand-sm bg-gray py-6 sticky-top">
      <div class="container">
        <!-- logo圖片依助教建議改用背景圖方式切換 -->
        <a href="index.html">
          <div class="logo-icon"></div>
        </a>
          <!-- <a class="d-sm-none" href="#">
            <img class="logo-icon" src="./assets/images/logo2.svg" alt="logo">
          </a>
          <a class="d-none d-sm-block" href="#">
            <img class="logo-icon" src="./assets/images/logo.svg" alt="logo">
          </a> -->
        <button 
          class="navbar-toggler link-primary" 
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarMenuContent" aria-controls="navbarMenuContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="material-icons-outlined text-primary align-bottom">
            drag_handle
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenuContent">
          <ul class="navbar-nav text-center ms-auto">
            <li class="nav-item">
              <a class="nav-link fs-7 text-white me-sm-6 me-lg-12" aria-current="page" href="index.html">首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-7 text-white me-sm-6 me-lg-12" href="courses.html">課程介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-7 text-white" href="#" data-bs-toggle="modal" data-bs-target="#loginModal"><span
                  class="material-icons-outlined align-bottom me-1">
                  account_circle
                </span>
                登入
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <%- contents %>

    <footer class="footer bg-gray-900 text-gray-600 text-center py-4">
      <div class="container">
        <p class="fs-10 fs-sm-8 mb-0">Coding Home © 2022 All Rights Reserved</p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>